@page "/pickuser"
@inherits Models.PickUserModel

<h3>PickUser</h3>
@if (Members != null)
{
    <MudChipSet @bind-SelectedChip="selected" Filter="true" Mandatory="@mandatory">
        @foreach (var member in Members)
        {
            <MudChip Text="grey" OnClick="@(() => PickMember(member))">@member.Name</MudChip>
        }
    </MudChipSet>
}