@page "/pickuser"
@inherits Models.PickUserModel

<h3>PickUser</h3>
@if (Members != null)
{
    <ul>
        @foreach (var member in Members)
        {
            <li>

                <button class="btn btn-primary" @onclick="()=>PickMember(member)">@member.Name</button>
            </li>
        }
    </ul>

    <MudCard>
        <MudCardContent>
            <MudText>Story of the day</MudText>
            <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
        </MudCardActions>
    </MudCard>
}