@page "/pickuser"
@inherits Models.PickUserModel

<h3>PickUser</h3>
@if (Members != null)
{
    @foreach (var member in Members)
    {

        <MudCard @onclick="()=>PickMember(member)">
            <MudCardContent>
                <MudText>@member.Name</MudText>
            </MudCardContent>
        </MudCard>
    }
}